{#  -*- coding: utf-8 -*- #}

{% macro html_footer() %}
    {% if content_footer %}

    <section id="footer" class="wrapper">
					<div class="container">
						<header class="style3">
							<h2>Get in Touch</h2>
							<p>
								If you're a feminist looking to fight back against tech censorship, or help build communities to support women online, feel free to reach out! We'll try to get back to you in a reasonable time frame.
							</p>
						</header>
						<div class="row">
							<!-- <div class="col-6 col-12-medium"> -->

								<!-- Contact Form -->
									<!-- <section>
										<form method="post" action="#">
											<div class="row gtr-50">
												<div class="col-6 col-12-small">
													<input type="text" name="name" id="contact-name" placeholder="Name" />
												</div>
												<div class="col-6 col-12-small">
													<input type="text" name="email" id="contact-email" placeholder="Email" />
												</div>
												<div class="col-12">
													<textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" class="style1" value="Send" /></li>
														<li><input type="reset" class="style2" value="Reset" /></li>
													</ul>
												</div>
											</div>
										</form>
									</section> -->

							<!-- </div> -->
							<div class="col-12 col-12-medium">

								<!-- Contact -->
									<section class="style3 feature-list small">
										<div class="row">
											<div class="col-4 col-12-small">
												<section>
													<h3 class="icon solid fa-home">Mailing Address</h3>
													<p>
														WIFA<br />
                            Women's Liberation Front<br />
														455 Massachusetts Ave NW, #190<br />
														Washington, DC 20001
													</p>
												</section>
											</div>
                      <div class="col-4 col-12-small">
												<section>
													<h3 class="icon solid fa-comment">Social</h3>
													<p>
														<a href="https://twitter.com/Womens_Internet">@Womens_Internet</a><br />
													</p>
												</section>
											</div>
											<div class="col-4 col-12-small">
												<section>
													<h3 class="icon solid fa-envelope">Email</h3>
													<p>
														<a href="#">info@womensinternetfreedom.com</a>
													</p>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
						<div id="copyright">
							<ul>
								<li>Website: <a href="https://github.com/WomensInternetFreedom/womensinternetfreedom.github.io">AGPL 3.0</a>, Content: CC by-SA Women's Internet Freedom Alliance</li>
							</ul>
						</div>

                                    {{ template_hooks['page_footer']() }}


					</div>
				</section>

		</div>
    {% endif %}
{% endmacro %}
