<section id="highlights" class="wrapper style2">
	<div class="container">
		<header class="style4">
			<h2>Incubator Projects</h2>
			<p>Incubator projects are created and managed by WIFA to address major areas of concern for women on the web.</p>
		</header>
		<div class="row aln-center">
			<div class="col-4 col-12-medium">
				<section class="highlight">
					<a href="https://femtube.org" class="image featured"><img src="/images/projects/femtube.png" alt="" /></a>
					<h3><a href="https://femtube.org">FemTube</a></h3>
					<p>FemTube is a feminist alternative to Youtube where women and allies can share content without fear of censorship.</p>
					<ul class="actions">
						<li><a href="/projects/femtube.html" class="button style1">Learn More</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</section>
